
a{
    text-decoration: none;
}

a:hover{
    color: antiquewhite;

}

img{
    max-width: 300px;
}

h4{
    color: aliceblue;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}