<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li routerLinkActive="active"  class="nav-item">
                    <a routerLink="/sneakers" class="nav-link">sneakers</a>
                </li>
                <li routerLinkActive="active" class="nav-item"  *ngIf="!isAuthenticated">
                    <a routerLink="/auth" class="nav-link">login </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a routerLink="/contact" class="nav-link">contact </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a routerLink="/collection" class="nav-link">collection </a>
                </li>
                <li *ngIf="isAuthenticated" class="nav-item">
                    <a class="nav-link" (click)="onLogout()"> Logout </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/shopping-cart" class="nav-link"> Shopping cart </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/favourites" class="nav-link"> Favourites <fa-icon [icon]="faHeart"></fa-icon>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  appDropdown data-bs-toggle="dropdown" role="button"> Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="onSaveSneakers()">Save Data</a></li>
                        <li><a class="dropdown-item" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>   
                </li>
            </ul>
        </div>
    </div>
</nav>