<div class="row">
  <div class="col-xs-12">
    <!-- <button class="btn btn-success" (click)="onNewSneakers()">New sneakers</button> -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let s of sneakers; let i = index"
          ><app-sneakers-item
            class="slide"
            [sneakers]="s"
            [index]="i"
          ></app-sneakers-item
        ></ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
