<div class="row">
    <div class="col-xs-12">
      <img
        [src]="sneakers?.imagePath"
        alt="{{ sneakers?.name | uppercase }}"
        class="img-responsive"
        style="max-height: 150px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ sneakers?.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" >
      <div class="btn-group" appDropdown>
        <button data-bs-toggle="dropdown"
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage sneakers <span class="caret"></span>
        </button>
        <ul class="dropdown-menu ">
          <li><a style="cursor: pointer;" (click)="onAddToShoppingCart()">To Shopping List</a></li>
          <li><a style="cursor: pointer;" (click)="onEditSneakers()">Edit sneakers</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteSneakers()" >Delete sneakers</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ sneakers?.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <button type="button" class="dropdown-toggle">Sizes<span class="caret"></span></button>
      </div>
    </div>
  </div>
  
  <!-- <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let size of sneakers.sizes">
          {{ size.name }} - {{ size.amount }}
        </li>
      </ul>
    </div>
  </div>
   -->