<div class="row sneakers-detail">
    <div class="col-xs-12 col-md-7">
      <img
        [src]="sneakers?.imagePath"
        alt="{{ sneakers?.name }}"
        class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7 col-md-7 col-lg-7">
      <h1>{{ sneakers?.name | uppercase }}</h1> 
    </div>
    <div class="col-xs-5 col-md-5 col-lg-5 sd-sizes">
        <button data-bs-toggle="dropdown"
        type="button"
        class="btn btn-primary dropdown-toggle">Sizes<span class="caret"></span></button>
        <ul class="dropdown-menu" *ngFor="let s of sizes">
          <li><a>{{ s }}</a></li>
        </ul>
        <button class="btn btn-primary" type="button" (click)="onAddToShoppingCart()"> Add to shopping cart </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" >
      <div class="btn-group" appDropdown>
        <button data-bs-toggle="dropdown"
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage sneakers <span class="caret"></span>
        </button>
        <ul class="dropdown-menu ">
          <!-- <li><a style="cursor: pointer;" ></a></li> -->
          <li><a style="cursor: pointer;" (click)="onEditSneakers()">Edit sneakers</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteSneakers()" >Delete sneakers</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 sd-description">
      {{ sneakers?.description }}
    </div>
  </div>