<p>shopping-cart works!</p>
<!-- <app-shopping-cart-edit></app-shopping-cart-edit> -->

<h1> govno radi</h1>
<hr>

<ng-container *ngIf="true">
    <table class="table table-responsive" style="color: white;">
        <tr>
            <td>Sr nmbr</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Size</td>
            <td>Total</td>
        </tr>
        <tbody>
            <tr>
                <td>1</td>
                <td>neke patike</td>
                <td>Opis za neke patike</td>
                <td>678</td>
                <td>37</td>
                <td><button class="btn btn-danger">x</button></td>
            </tr>
        </tbody>
    </table>
</ng-container>
 
<ul>
    <li *ngFor="let s of sneakers">
        <a style="cursor: pointer;">
        {{ s.name }} --- {{ s.description}}</a>
        <br>
    <img
        [src]="s.imagePath"
        alt="{{ s.name }}"
        class="img-responsive"
        style="max-height: 200px;">
        <br>
        <button type="submit" (click)="onAddToCart()">Add to cart</button>
<hr>
</li>
</ul>



