@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

title{
    color: blueviolet;
}

body{
    background-color: #281616;
}

.auth-form{
    margin-top: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
    color: aliceblue;
}

$main-font: 'Michroma';


.sneakers-detail{
    margin-top: 20vh;
}

img{
    max-height: 300px;
}

h1{
    color: aliceblue;
    font-family: $main-font;
}

button{
    background-color: #977272;
    border: #977272;
}

button:hover, button:focus, button:disabled, button:visited, button:active {
    background-color: #a67c7c;
    border-color: none;
    outline: none;
    box-shadow: none;
}

.sd-description{
    color: rgb(183, 191, 197);
    font-family: $main-font;
}

// .bck-strip{
//     height: 100vh;
//     width: 380px;
//     background-color: #4F3E3E;
//     position: relative;
//     left: 424px;
// }

// .collection-strip{
//     height: 464px;
//     width: 564px;
//     background-color: #613535;
//     position: absolute;
//     left: 316px;
//     top: 180px;
// }

// .style-strip{
//     height: 408px;
//     width: 564px;
//     background-color: #977272;
//     position: absolute;
//     left: 664px;
//     top: 324px;
// }

a{
    color: aliceblue;
    font-family: $main-font;
    right: 24px;
}

.sd-sizes{
    margin-top: 5vh !important;
}